@import "_variables.scss";


.user-info {
  margin: 0 10px;
  background-color: rgb(248, 249, 250);
  border-radius: 5px;
  padding: 8px 6px;

  &__name {
    max-width: 50vw;
    word-wrap: break-word;
  }

  &__star {
    display: flex;

    &--content {
      max-width: 50vw;
      color: blueviolet;
      word-wrap: break-word;
    }

  }
}

form {
  @include form;
}

.cancel-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

.cancel-form {
  margin-top: 32px;
}

.transaction {
  margin: 0 10px;
  padding: 8px 6px;
  border-radius: 5px;
  background-color: rgb(248, 249, 250);

  &__title {
    font-weight: bold;
  }

  &__content {

    &--detail {
      display: flex;
    }
  }
}

.value {
  max-width: 50%;
  word-wrap: break-word;
}

.star {
  color: blueviolet;
}
