{% load django_bootstrap5 %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% stylesheet 'base' %}
  {% block extra_style %}{% endblock  %}
  <title>{% block title %}{% endblock  %}</title>
</head>

<body>
  <nav class="navbar navbar-light bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'top' %}">サイトタイトル</a>
  </nav>
  {% block content %}{% endblock  %}
</body>

</html>
