{% load django_bootstrap5 %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% stylesheet "login" %}

  <title>Signup</title>
</head>

<body>
  <main>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "ログイン" %}
    </form>
    <a class="signup" href="{% url 'signup' %}">アカウント作成はこちら</a>
  </main>
</body>

</html>
