{% extends 'manage_currency/base.html' %}
{% load django_bootstrap5 %}
{% load pipeline %}
{% block extra_style %}{% stylesheet "product-list" %}{% endblock  %}
{% block content %}
<div class="product">
  {% for product in object_list %}
  <a class="product__item" href="{% url 'purchase' product.pk %}">
    <img src="{{product.image.url}}" alt="">
    <div class="product__item--info">
      <p>{{product.name}}</p>
      <p>価格：{{product.price}}DeC</p>
      <p>在庫数：{{product.stock}}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock  %}
