{% extends 'manage_currency/base.html' %}
{% load pipeline %}
{% load django_bootstrap5 %}
{% load star_display %}

{% block extra_style %}{% stylesheet 'top' %}{% endblock %}

{% block content %}
{% comment %}
ユーザー名、ユーザーid、DeMiStar DeMiCash 表示
{% endcomment %}
<div class="user-info">
  <p class="user-info__name">ユーザーネーム：{{request.user.username}}</p>
  <p class="user-info__id">ユーザーID：{{request.user.id}}</p>
  <div class="user-info__star">
    <p class="user-info__star--label">DeMiStar：</p>
    <p class="user-info__star--content">{{star | star_display}}({{star}})</p>
  </div>
  <div class="user-info__cash">
    <p class="user-info__cash--content">DeMiCash：{{cash}} <span>DeC</span></p>
    <a class="user-info__cash--btn btn btn-primary" href="{% url 'top' %}">情報を更新</a>
  </div>
</div>

<div class="purchase">
  <p class="purchase__title">購入履歴</p>
  {% if purchases %}
  {% for purchase in purchases %}
  <div class="purchase__info">
    <p class="purchase__info--name">{{purchase.product.name}}</p>
    <p class="purchase__info--quantity">{{purchase.quantity}}個</p>
    {% if purchase.is_delivered %}
    <p class="purchase__info--is_delivered">受け取り済み</p>
    {% else %}
    <p class="purchase__info--is_delivered">未受け取り</p>
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <p>購入履歴はありません</p>
  {% endif %}
</div>

{% endblock  %}
